<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Two wheel example is here but please download and customize it for yourself!</p>
  </div>
</footer>
