// Specific CSS for your home-page

.main-img {
  background-image: image-url('banner-1.jpg');
  background-position: center;
}
.album {
  background-color: #B7B6C2 !important;
}
body {
  background-color: #B7B6C2;
}
