// Specific CSS for your home-page

.main-img {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), image-url('banner.jpg');
  background-position: center;
}

body {
  background-color: #F8F9FA;
}

.card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.container-banner{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1, p {
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}
.homepage select#category{
  width: 100%;
}


