
<section class="jumbotron text-center main-img" style="height: 60vh;">
  <div class="container">
    <h1 class="jumbotron-heading text-white">Two wheels and go</h1>
    <p class="lead text-white">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
    <p>
      <a href="/vehicles" class="btn btn-success my-2">List all vehicles</a>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <%= image_tag 'card-3.png', class: 'card-img-top' %>
          <div class="card-body">
            <p class="card-text"><strong>This is a wider card with </strong> supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <%= image_tag 'card-2.jpg', class: 'card-img-top' %>
          <div class="card-body">
            <p class="card-text"><strong>This is a wider card with </strong> supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <%= image_tag 'card-3.jpg', class: 'card-img-top' %>
          <div class="card-body">
            <p class="card-text"><strong>This is a wider card with </strong> supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
