
.vehicles-container{
  background-color: #F8F9FA;
  top: 20vh;
  width: 100%;
  min-height: 80vh;
  margin: 0;
  h1{
    padding: 40px 40px;
    text-align: center;
  }
}


.vehicle-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 0 50px 50px 50px;
}

