@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.navbar-lewagon {
  justify-content: space-between;
  background: black;
}

.navbar-lewagon .text{
  margin-top: 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  border-radius: 50%;
}

.navbar-lewagon .navbar-brand {
  color: white;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.navbar-lewagon .navbar-brand:hover {
  color: grey;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: grey;
   &:hover {
    color: white;
  }
}


