.devise-form-container {
  display: flex;
  min-height: 70vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh;
  margin-bottom: 90px;
}

.form-inputs {
  min-width: 25vw;
}


